.subheading {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #877eed;
  border-bottom: 2px dotted #877eed;
  padding-bottom: 8px;
  margin: 0;
  margin-bottom: 24px;
}

.subheading p {
  font-size: 14px;
  font-weight: 300;
  color: gray;
  font-style: italic;
}
